@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
}

a,
p {
    font-family: 'Exo 2', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.ls-1 {
    letter-spacing: 0.04em;
}

.text-orange {
    color: #F85B11;
}

/**BTN CONTATO**/
a.btn-contact {
    height: 70px;
    border-radius: 7px;
    background: #00a12b;
    box-shadow: 0px 0px 37px #349b1b;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-top: 2px solid #0EE848;
    cursor: pointer;
    text-align: center;
}

a.btn-contact:hover {
    color: white;
    text-align: center;
}

hr.line-orange {
    opacity: 1;
    color: #F85B11;
    height: 2px;
    width: 180px;
}

/**BLOCOS**/
.bloco-height {
    min-height: 100vh;
}

.padding-separador {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-separador-2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bloco-1 {
    background-image: url(../img/bg_inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;
}

.bloco-2 {
    padding: 180px 0px 180px 0px;
    background: #252525;
}

.bloco-4 {
    background-image: url(../img/img_03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 120px 0px 120px 0px;

}

.bloco-5 {
    padding: 120px 0px 120px 0px;
}

.bloco-6 {
    padding: 120px 0px 120px 0px;
    background: linear-gradient(#252525 0%, #292929 100%);
}

/**Codigo geral**/
.grid-columns {
    display: flex;
    flex-wrap: wrap;
}

.custom-1 {
    box-sizing: border-box;
    margin: 10px;
    padding: 25px;
    border-radius: 14px;
    background: #332f2f;
    border: 1px solid #f85b11;
    box-shadow: 0px 0px 20px #6b2c0f;
    width: calc((100% / 3) - 2rem);
    text-align: center;
}

.custom-2 {
    box-sizing: border-box;
    margin: 10px;
    padding: 25px;
    border-radius: 14px;
    background: #332f2f;
    border: 1px solid #757575;
    box-shadow: 0px 0px 20px #313131;
    width: calc((100% / 3) - 2rem);
    text-align: center;
}

.bloco {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    margin: 8px;
}

@media (min-width: 600px) {

    /* Desktop */
    .grid-columns {
        flex-direction: row;
    }

    .linha1 {
        flex: 1 1 calc(33.33% - 16px) !important;
        /* Ajuste conforme necessário */
    }

    .linha2 {
        flex: 1 1 calc(50% - 16px) !important;
        /* Ajuste conforme necessário */
    }
}

@media (max-width: 599px) {

    /* Mobile */
    .grid-columns {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .linha1,
    .linha2 {
        flex: 1 1 calc(22% - 16px) !important;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    padding-top: 80px;
}

.display-mobile-none {
    display: block;
}

.display-desktop-none {
    display: none;
}

/**MOBILE**/

@media only screen and (max-width: 900px) {

    /**HOME**/
    .bloco-1 {
        padding: 40px 20px 60px 20px;
    }

    #social-media-navbar {
        display: none !important;
    }

    div#img-logo-home {
        text-align: center !important;
    }

    h1#title-home {
        padding-top: 80px;
        text-align: center;
        margin: 0 auto;
    }

    .center {
        text-align: center;
    }

    .img-home {
        margin-top: 50px !important;
    }

    /**BLOCO 2 - home**/
    div#order-one-mobile {
        order: 1;
    }

    div#order-two-mobile {
        order: 2;
    }

    h1#title-bloco-2-home {
        padding-top: 80px;
        text-align: center;
        margin: 0 auto;
    }

    /**BLOCO 2**/
    .bloco-2 {
        padding: 60px 20px 60px 20px;
        min-height: 100%;
        background: #252525;
    }

    .display-mobile-none {
        display: none !important;
    }

    .display-desktop-none {
        display: block !important;
    }

    .line-orange {
        margin: 0 auto;
    }

    #title-bloco-2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /**BLOCO 4**/
    .bloco-4 {
        padding: 60px 20px 60px 20px;
    }

    img.img-felipe {
        width: 300px;
    }

    .padding-separador-2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .bloco-6 {
        padding: 60px 20px 60px 20px;
    }
}


/**BLOCO-3**/

.imagens-carousel {
    padding: 0;
}

.imagens-carousel img {
    width: 33.3333333333vw;
}

@media (max-width: 500px) {
    .imagens-carousel img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 500px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/*# sourceMappingURL=index.css.map */